@model RegisterViewModel
@{
    ViewData["Title"] = "Register page";
}

<form asp-controller="Account" asp-action="Register" method="post">

    <div class="validation-summary" asp-validation-summary="All"></div>

    <div class="form-group">
        <label class="control-lable" asp-for="Email">Email address:</label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-lable" asp-for="UserName">Username:</label>
        <input class="form-control" asp-for="UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm password:</label>
        <input class="form-control" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">SIGN UP</button>
    </div>

</form>

