@model IEnumerable<User>

@{
    ViewData["Title"] = "User Panel page";
}

<div class="text-center">
    <h1 class="display-4">User manager</h1>
</div>

<table class="table table-hover">
    <caption>List of existing users</caption>
    <thead>
        <tr>
            <th scope="col"><input type="checkbox"></th>
            <th scope="col">GUID</th>
            <th scope="col">Email</th>
            <th scope="col">Registration date</th>
            <th scope="col">Last login date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>@user.Id</td>
                <td>@user.EmailAddress</td>
                <td>@user.RegistrationDate</td>
                <td>@(user.LastLoginDate == null ? "null" : user.LastLoginDate)</td>
            </tr>
        }
    </tbody>
</table>

